aiofiles
aiogram
aiohttp
aiosignal
aiosqlite
setuptools
wheel
annotated-types
async-timeout
asyncpg
asyncpg-lite
attrs
certifi
charset-normalizer
frozenlist
idna
magic-filter
multidict
packaging
pdf2image
pillow
propcache
pydantic
pydantic_core
PyPDF2
pytesseract
requests
SQLAlchemy
typing_extensions
urllib3
yarl